<div id="wrapper">
	<div id="content">	
<a class="btn btn-lg btn-success" style="width:100%;text-align:center;" href="#">
	<i id="add" class="fa fa-plus fa-2x pull-right"></i>
	<label style="position:relative;top:5px;font-size:1.2em;">Add Task</label></a>

<!--	<%= link_to 'new', new_todo_path %> -->
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Assigned to</th>
      <th>Due date</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.task %></td>
        <td><%= todo.assigned_to %></td>
        <td><%= todo.due_date %></td>
        <td><%= todo.priority %></td>
   <!--redundent     <td><%= link_to 'Show', todo %></td> -->
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
</div>
