<label class="fa-2x" 
       style="position:absolute;z-index:999;left:20px;top:13px;color:white;">View Task
</label>
<div class="btn btn-lg btn-primary actions" style="width:100%;text-align:left;color:white;">
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @todo.task %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @todo.assigned_to %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @todo.due_date %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo.priority %>
</p>
<div class="container">
  <a href="<%= todos_path %>"> 
    <div class="btn btn-primary fa fa-chevron-left fa-2x">
    Back
  </div>
   </a>
    <div class="btn btn-primary fa fa-check fa-2x">
     <%= link_to 'Edit', edit_todo_path(@todo) %>
  </div>
</div>

